@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

.post-body .prose {
  font-size: 1.25rem;
  color: oklch(0.92 0.005 260);
}

.post-body .prose p {
  margin-bottom: 1.5rem;
}

.post-body .prose a {
  color: var(--ui-primary);
}

:root {
  --plyr-color-main: var(--ui-primary);
}
